@use '../../../styles/variables' as vars;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  border-left: 5px solid vars.$form-border-color-primary;
  border-right: 5px solid vars.$form-border-color-primary;
  border-bottom: 5px solid vars.$form-border-color-secondary;
  border-top: 5px solid vars.$form-border-color-secondary;
  border-radius: 30px;
  width: 650px;
  height: 450px;
  background-color: vars.$form-primary-color;

  .form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;

    span {
      font-size: 36px;
      color: vars.$form-text-color;
    }
  }

  .form-body {
    height: 60%;
  }

  .form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;

    button {
      width: 250px;
      height: 50px;
      border-radius: 10px;
      font-size: 24px;
      border: 2px solid vars.$form-input-border-color;
      text-align: center;
      background-color: vars.$form-secondary-color;
      color: vars.$form-button-text-color;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;

    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;

      label {
        font-size: 24px;
        color: vars.$form-text-color;
        margin-right: 30px;
      }

      input {
        width: 250px;
        height: 50px;
        border-radius: 10px;
        font-size: 24px;
        border: 2px solid vars.$form-input-border-color;
        text-align: center;
        background-color: vars.$form-secondary-color;
        color: vars.$form-text-color;
      }
    }
  }
}

.gradient-text {
  background: linear-gradient(270deg, aqua, vars.$form-button-border-color-secondary);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 6s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-border {
  border: 5px solid transparent;
  border-radius: 30px;
  background: linear-gradient(vars.$form-primary-color, vars.$form-primary-color) padding-box,
  linear-gradient(270deg, aqua, vars.$form-button-border-color-secondary, aqua) border-box;
  background-size: 200% 200%;
  animation: borderGradient 3s ease infinite;
}

@keyframes borderGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
