<div class = container>
  <div class = "form-container animated-border">
    <div class = "form-header">
      <span class="gradient-text"> Login </span>
    </div>
    <div class="form-body">
        <form>
          <div class="row">
            <div class="col">
              <label for="username"> <span class="gradient-text">Username:</span></label>
            </div>
            <div class ="col">
              <input type="text" id="username" name="username" placeholder="username">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="password"> <span class="gradient-text">Password: </span></label>
            </div>
            <div class="col">
              <input type="password" id="password" name="password" placeholder="password">
            </div>
          </div>
        </form>
    </div>
    <div class="form-actions">
      <div class="row">
        <div class = "col">

        </div>
        <div class = "col">
          <button type="submit">Accept</button>
        </div>
      </div>
    </div>
  </div>
</div>

