// Kolory bazowe
$form-primary-color: #1e1f24;
$form-secondary-color: #2c2d30;

$form-border-color-primary: aqua;
$form-border-color-secondary: #d01a4d;
$form-text-color: aqua;
$form-button-border-color-primary: aqua;
$form-button-border-color-secondary: #d01a4d;
$form-input-border-color: gray;
$form-button-text-color: gray;
